body {
	font-family: Arial, Helvetica, sans-serif;
}

table td {
	padding: 10px;
	border: 1px solid black;
	margin: 0;
}

table tr {
	margin: 0;
}

h2 {
	text-align: center;
}

.input {
	text-align: center;
}

.input_n {
	width: 50px;
	
}


.wrapper {
	margin-left: 200px;
	margin-right: 200px;
}